<!DOCTYPE html>
<html>
    <head>
        <title>Gabarito</title>
        <style>    
        </style>
    </head>



    <body>
        <a href="/">Inicio</a><br>
                
  
        <h1>Qual aluno deseja adicionar a prova</h1><br>

        <form action=/salvar_prova_aluno>
        Id da Prova: {{id_prova}}<br>
        <input type="hidden" name = id_prova value="{{id_prova}}">
        Matricula: <input type="number" name = matricula><br>
        <input type = submit value = cadastrar>
        
        </form>




    </body>

</html>