<!DOCTYPE html>
<html>
    <head>
        <title>Aluno</title>
        <style>    
        </style>
    </head>



    <body>
        <a href="/">Inicio</a><br>
        
        <h3>Matricula {{ aluno.matricula }}</h1>
        <h3>Aluno {{ aluno.nome }}</h1>
            <h4>Média: {{aluno.media}}</h4>
        
        
        {% for i in aluno.provas: %}

            <h2>Prova: {{i.ni}}</h2><br>
            {% for q in i.questoes %}
            Questão: {{q.ni}}<br>
                    {{q.pergunta}}<br>
                    
            Resposta do aluno:

                {% for x in aluno.respostas %}                 
                    {% if x.id_questao == q.ni %}
                    {{ x.resposta }}
                    {% endif %}           
                {% endfor %}
                <br>Peso da Pergunta: {{q.peso}}<br>
            <br><br>
            
            {% endfor %}
            
            Peso da Prova: {{i.peso_total}}<br>
            
            Nota: {{aluno.notas_provas[i.ni-1]}}<br>

            <a href=/adicionar_resposta_aluno?id_prova={{i.ni}}&matricula={{aluno.matricula}}>Adicionar resposta prova</a>
            <br><br><br>    
            
        {% endfor %}

        


    </body>

</html>